* {
  margin: 0em;
}

body {
  width: 960px;
  font-size: 16px;
  margin: 1em auto;
  font-family: sans-serif;
}

.challenge-container {
  border: 0.15em solid lightgrey;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1em;
}

.challenge-container > div {
  display: flex;
  justify-content: space-between;
}

.challenge-container > div:nth-child(1) {
  margin-bottom: 1em;
}

.challenge-title{
  font-weight: 400;
  color: rgba(50, 205, 50, 0.8);
}

.controls {
  display: flex;
  align-items: flex-start;
}

.report {
  display: flex;
  align-items: flex-end;
  column-gap: 1em;
  color: rgba(128, 128, 128, 0.8);
}

.data {
  color: rgba(0, 0, 0, 0.9);
}

.solve-button {
  background-color: rgba(50, 205, 50, 0.8);
  color: whitesmoke;
  padding: 0.6em;
}